*{
    margin: 0;

    --black: #121214;
    --greydark: #202024;
    --grey: #c4c4cc;
}
h1{
    color: var(--grey);

    font-size: 1.5rem;
    margin-top: 1.5rem;
}
a{
    color: var(--grey);
    text-decoration: none;

    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    display: flex;
    gap: 0.75rem;
    justify-content: center;
}
p{
    color: var(--grey);

    margin-top: 2rem;
}
ul{
    margin-top: 2.5rem;
    margin-bottom: 4rem;

    list-style: none;
    padding: 0;

    display: flex;
    gap: 0.5rem;
    justify-content: center;
}
@media screen and (max-width: 600px) {
    ul{
        margin-top: 4rem;
    }
}
body{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    
    background: url(img/background.svg);  
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: grid;
    place-items: center;
    
}
@media screen and (max-width: 600px) {
    body{
        background: var(--black);
    }
}

/*scroll personalizado*/
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: var(--black);
} 
body::-webkit-scrollbar-thumb {
    background-color: #323238;
    border-radius: 20px;
    border: 3px solid var(--black);
}
/*scroll personalizado*/

main{
    background: url(img/card-desktop.svg);
    width: 358px;
    height: 540px;

    margin-top: 120px;

    border: none;
    border-radius: 10px;
}
@media screen and (max-width: 600px) {
    main{
        background: url(img/card-mobile.svg);
        width: 375px;
        height: 812px;

        margin-top: 0;
    }
}
.container{
    max-width: 250px;
    padding: 0;
    margin: auto;

    text-align: center;
}
.but{
    background-color: #323238;
}
.but:hover{
    background-color: #3e3e46;
}
.footer{
    padding-bottom: 2rem;
}
.avatar{
    width: 10rem;
    margin: 4.6rem auto 0;

    top: 0px;
    position: relative;
}
@media screen and (max-width: 600px) {
    .avatar{
        margin: 11.5rem auto 0;
    }
}
.avatar span{
    position: absolute;
    top: -15px;
    z-index: 1;
}
.avatar > img{
    width: 10rem;
    height: 11.5rem;
    
    object-fit: cover;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
@media screen and (min-width: 600px) {
    .faixa{
        position: relative;
    }
    .fita{
        position: absolute;
        width: 64px;
        height: 157px;
        left: calc(50% - 64px/2);
        top: -1px;
        z-index: 1;

        background: linear-gradient(161.24deg, #FF008E -15.25%, #FFCD1E 111.89%);
    }
    .quebra{
        position: relative;
        width: 80px;
        height: 8px;
        top: 152px;

        background-color: var(--black);
    }
}